:root {
  --primary-color: #eae3e3;
  --secondary-color: #749281;
  --accent-color: whitesmoke;
}

.typewriter h4 {
  color: var(--primary-color);
  padding-top: 25px;
  font-family: chakra petch;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.39em;
  animation: typing 5.5s steps(30, end);
  text-align: center;
  margin-top: 60px;
  font-size: 43px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-family: chakra petch;
}

h1 {
  text-align: center;
  font-size: 74px;
  font-family: chakra petch;
}
h3 {
  color: black;
  text-align: center;
  font-size: 28px;
  font-family: chakra petch;
}

h5 {
  font-size: 40px;
  font-family: chakra petch;
}
p2 {
  font-family: poppins;
}
p {
}
mark {
  text-align: center;
  background: var(--primary-color);
  border-radius: 4px;
}
.codebysandranav-item {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-colour {
  background: var(--primary-color);
}
.navbar {
  max-height: 57px;
}

.hero-homepage-container {
  background: var(--secondary-color);
  text-align: center;
  padding: 130px 50px;
  min-height: calc(100vh - 103.5px);
}

.portfoliointro {
  text-align: center;
  font-family: poppins;
  font-size: 30px;
  margin-top: 20px;
}
.containerbodyportfolio {
  background-color: var(--accent-color);
}

.img-md {
  max-width: 79%;
  border: solid var(--accent-color);
  margin: 15px 50px;
}

.img-container {
  background: var(--primary-color);
  border-radius: 8px;
  padding: 5px 10px;
  border: solid;
  color: white;
}

.applaunch-link {
  border: 2px solid white;
  background: var(--primary-color);
  font-family: poppins;
  margin: 5px;
  border-radius: 4px;
  padding: 10px 7.5px;
  text-decoration: none;
  color: black;
}

.button-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 50px;
  font-family: chakra petch;
}
.button-links a {
  margin: 23px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  font-family: poppins;
}

.contact-me {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  font-family: chakra petch;
  color: var(--primary-color);
}

.about-me {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.Aboutme-intro {
  background-color: #58727f;
}

.footer-container {
  background: var(--primary-color);
  font-family: chakra petch;
  text-align: center;
  color: black;
}

.footertwo-container {
  background: var(--secondary-color);
  font-family: "chakra petch";
  text-align: center;
  margin-top: 3.5px;
  color: black;
}
.footer-links a:hover {
  color: lightseagreen;
}
.footer-links a {
  color: black;
  font-size: 18px;
  margin: 0 7px;
  transition: all 200ms ease-in-out;
}
.footerwords {
  font-size: 13px;
  margin-top: 5px;
  color: black;
}

.about-section-content {
  margin: 15px;
  font-family: barlow;
  font-size: 18px;
}

.about-section-content h1 {
  font-size: 35px;
  font-family: barlow;
}

.about-section-content h2 {
  font-size: 24px;
  text-align: left;
  font-family: barlow;
}

.sandra-pic {
  padding: 10px 10px;
  border-radius: 30px 0px 30px 0px;
  border: 3px double var(--secondary-color);
  margin: 15px;
}

a {
  color: black;
}

.certification-div {
  background-color: var(--secondary-color);
  padding: 50px 100px;
  margin: 5px 0 0;
}

.certificate-icon {
  width: 220px;
}

.skills {
  text-align: center;
  font-size: 18px;
  padding: 8px;
  background-color: lightsalmon;
  margin: 20px 20px 20px 20px;
}

.another-sectiontwo {
  background-color: var(--accent-color);
}

.another-section {
  background-color: var(--primary-color);
}
.sidecontainer {
}
.lets-connect {
  background-color: var(--accent-color);
  font-family: chakra petch;
  text-align: center;
}
.lets-connect h1 {
  text-align: center;
  font-family: chakra petch;
  color: var(--secondary-color);
}
.lets-connect h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 20px;
}

.lets-connect a {
  text-align: center;
  font-size: 15px;
}

@media (max-width: 900px) {
  .typewriter h4 {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
    line-height: 1;
    text-align: center;
  }
}
@media (max-width: 900px) {
  h3 {
    font-size: 20px;
    line-height: 1;
  }
}
@media (max-width: 900px) {
  h4 {
    font-size: 40px;
    line-height: 2;
  }
}

@media (max-width: 900px) {
  .main {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .portfoliointro {
    font-size: 24px;
    line-height: 1.5;
  }
}
